################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StringFinderInStoredProcs/bin/Debug
/StringFinderInStoredProcs/obj/Debug
/.vs/StringFinderInStoredProcs/v15
